 :root{ 
    --purple : "#fa02fe";

}
*{
    background-color: black;
    font-family: 'Rubik Doodle Shadow', sans-serif;
        color: white;
}
.logo{
    width: 700px;
    height: 700px;
    border-radius: 300px;
}
.headPage{
    display: flex;
    align-items: center;
    gap: 10%;
}
.headPage h1{
    font-size: 80px;
}
.startBtn{

    width: 400px;
    height: 60px;
    border-radius: 40px;
    background-color: black;
    border: 2px solid #fa02fe ;
    color: #fa02fe;
   
    font-size: 30px;
}
.startBtn:hover{
    border: 2px solid aqua ;
    color: aqua;
    cursor: pointer;
    background-color: black;
}
.players{
    display: none;
    justify-content: end;
    gap: 15%;
    

}
.addplayer{
    color: aqua;
    border: 2px solid aqua ;
    width: 200px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 5%;




}
.addplayer span{
    color: aqua;
}
.addplayer:hover {
    color: #fa02fe;
    border: 2px solid #fa02fe ;


}
.addplayer span:hover {
    color: #fa02fe;


}
.players h1{
    color: #fa02fe;
}
.players .innerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
}